/**
 * DPSystems Knowledge Base - Custom Styles
 */

:root {
  --ifm-color-primary: #0066cc;
  --ifm-color-primary-dark: #005cb8;
  --ifm-color-primary-darker: #0057ad;
  --ifm-color-primary-darkest: #00478f;
  --ifm-color-primary-light: #0070e0;
  --ifm-color-primary-lighter: #0075eb;
  --ifm-color-primary-lightest: #1a85ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #4da6ff;
  --ifm-color-primary-dark: #339bff;
  --ifm-color-primary-darker: #2696ff;
  --ifm-color-primary-darkest: #007ae6;
  --ifm-color-primary-light: #67b1ff;
  --ifm-color-primary-lighter: #74b7ff;
  --ifm-color-primary-lightest: #a1cfff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
